<!-- <button class="logout-btn" (click)="gohome()">Home</button> -->
<form [formGroup]="signupForm" (ngSubmit)="signup()" class="signup-form">
  <h3>Sign Up</h3>
  <div class="form-group">
    <input formControlName="name" placeholder="Enter your full Name" />
    <div
      class="error"
      *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.invalid"
    >
      Name is required
    </div>
  </div>

  <div class="form-group">
    <input
      formControlName="email"
      type="email"
      placeholder="Enter your Email"
    />
    <div
      class="error"
      *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid"
    >
      A valid Email is required
    </div>
  </div>

  <div class="form-group">
    <input
      formControlName="password"
      type="password"
      placeholder="Enter your Password"
    />
    <div
      class="error"
      *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
    >
      Password is required
    </div>
  </div>

  <button type="submit">Sign Up</button>
</form>
